/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Great Vibes', cursive;
}

body, html {
  height: 100%;
}

.bg {
  background-image: url("../img/train.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.vignetta {
  background-color: gold;
  text-align: center;
  width: auto;
  padding: 1%;
  border-radius: 5px;
}

#title {
  margin-bottom: 50px;
  font-weight: bolder;
}

#biglietto {
  margin: 50px;
}

@media (max-width: 767px) {
  .vignetta {
    font-size: 40px;
  }
}


@media (min-width: 768px) and (max-width: 1199px) {
  .vignetta {
    font-size: 35px;
  }
}

@media (min-width: 1200px) {
  .vignetta {
    font-size: 30px;
  }
}
